.reveal {
    line-height: 1.3;
}

.reveal .hidden {
    display: none;
    visibility: hidden;
}

p {
    padding: 5px;
}

.lowlight {
    opacity: 25%;
}

div.fit-one, div.fit-two, div.fit-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    text-align:center;
    margin-bottom: 20px;
}

.fit-two > img, .fit-two pre, .fit-two > video {
    max-width: 45%;
    max-height: 40vh;
}

.fit-two div {
    width: 45%;
    height: 100%;
}

.fit-one>div>img, .fit-two>div>img, .fit-three>div>img {
    max-height: 100%;
    max-width: 100%;
}

.fit-one img {
    max-width: 100%;
    max-height: 40vh;
    vertical-align: middle;
}

div.fit-one.r-stretch > img, div.fit-one.r-stretch > video {
    max-height: 100%;
}

div.fit-two.r-stretch > img, div.fit-two.r-stretch > video {
    max-height: 100%;
}

div.fit-two > p {
    text-align: center;
    margin: auto;
}

.fit-one video {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.fit-one iframe {
    width: 820px;
    height: 520px;
}

.fit-two > iframe {
    width: 66%;
    height: 100%;
}

.fit-three.r-stretch > img {
    max-height: 100%;
    max-width: 30%;
}

.fit-three.r-stretch > div {
    height: 100%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.stack-three > img {
    height: 33%;
    max-width: 100%;
}

div.read-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

div.read-text > p {
    max-width: 25vw;
}

img.bordered, video.bordered, iframe.bordered {
  border: solid;
  border-width: 2px;
  padding: 8px;
  background-color: white;
  margin: 5px;
}

div.im-cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.im-cap > video, div.im-cap > img {
    max-height: 85%;
}

div.im-cap > h2, div.im-cap > h3 {
    margin-bottom: 0;
}

p.caption {
    font-size: 12pt;
}

p.citation {
    font-size: 8pt;
    padding: 0;
    width: max-content;
    margin: auto;
}

p.bottom-left {
    left: 0;
}

p.disclaimer {
    position: absolute;
    width: 200px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    right: 0;
    color: #3788BE;
}

div.inset {
    position: fixed;
    left: 0;
    background-color: #ffffff88;
    padding: 5px;
    bottom: -50vh;
}

.reveal sub {
    font-size: .5em;
}

.reveal pre {
    background-color: white;
    max-width: none;
    max-height: none;
}

.reveal pre{
    max-width: 800px;
    max-height: none;
}

.emph {
    color: #3788BE;
    font-style: italic;
}

.highlight {
    color: #3788BE;
}

span.fake-code {
    font-family: 'JetBrains Mono', monospace;
    background-color: white;
}

div > pre {
    width: 100%;
}

.strikethrough {
    text-decoration: line-through;
}

#acknowledge {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left right center";
}

#acknowledge p {
    margin: 0;
    padding-bottom: 0;
}

#acknowledge img {
    max-width: 25vw;
    max-height: 3em;
    justify-self: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

div.funding-img {
    width: 100%;
    background-color: white;
    margin-top: 1rem;
}

#acknowledge h3 {
    font-size: 24pt;
    margin-top: 1rem;
    margin-bottom: 0;
}

#acknowledge > div {
    justify-self: center;
}

#acknowledge > div.left {
    grid-area: left;
}

div.six-holder {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

div.v-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.h-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.toc {
    color: #00000044;
}

div.toc > p {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

div.toc > p.current {
    color: #000000;
}

div.quote {
    width: max-content;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
}

div.quote > p {
    font-style: italic;
}

div.quote > p.attribution {
    text-align: right;
    font-weight: normal;
}

div.top-left {
    width: 100%;
    height: 100vh;
    text-align: left;
}

.reveal table {
    max-width: 600px;
}

.reveal table td {
    padding-right: 20px;
}

.reveal table thead {
    font-weight: bold;
    color: #3788BE;
}

.reveal table thead th{
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
}

.reveal .overlay {
    position: absolute;
    top: 0;
    left: 25%;
}